.feedback-form{


}


.feedback-form__main{
    display: flex;
    flex-direction: column;
    grid-area: A;
}
.feedback-form__form{
    padding-left: 62px;
    padding-right: 62px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 20px;
    border-radius: 16px;
    background: #2F2F2F;
    box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 5px 0px rgba(0, 0, 0, 0.40);
    height: 496px;
    grid-template-areas:
    "A B"
    "C C";
    padding-top: 53px;
    padding-bottom: 30px;
}

.feedback-form__form-add{
    grid-area: B;
    display: flex;
    flex-direction: column;
}
.feedback-form__input-count{
    display: flex;
    flex-direction: column;
}
.feedback-form__title{
    color: #FFF;
    text-align: left;
    font-size: 52px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 40px;
    margin-top: 121px;
}
.feedback-form__input{
    border-radius: 14px;
    border: 1px solid rgba(5, 162, 214, 0.30);
    background: #FFF;
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.25);
    max-width: 544px;
    width: 85%;
    height: 43px;
    color: #202F5D;
    padding-left: 29px;
    padding-right: 29px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.feedback-form__input_text{
    height: 244px;
    flex-shrink: 0;
}

.feedback-form__label{
    margin-top: 22px;
    margin-bottom: 10px;
    text-align: left;
    color: #FFF;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.feedback-form__button{
    color: #202F5D;
    align-self: start;
    justify-self: center;
    grid-area: C;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    margin-top: 0;
    width: 352px;
    height: 73px;
    border-radius: 57px;
    background: #4595f3;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.40) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
