.logo__description{
    margin-left: 28px;
    height: 50px;
    width: 270px;
    display: flex;
    flex-wrap: wrap;
}

@media screen  and (max-device-width : 750px) {
    .logo__description{
        margin-left: 6px;
        height: auto;
    }
}