.menu-block__nav-button {
    list-style-type: none;
    flex-basis: auto;
    flex-grow: 1;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: OpenSans-ExtraBold, serif;
    color: #ffffff;
    height: 69px;
    display: inline-block;
    line-height: 69px;
    position: relative;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

@media only screen
and (min-device-width : 1024px)
and (max-device-width : 1350px) {
    .menu-block__nav-button{
        font-size: 16px;
    }
}