.slide__subtitle{
    margin: 0;
    font-family: OpenSans-Bold, serif;
    line-height: 41px;
    font-size: 30px;
    color: #ffffff;
    text-align: left;
}

@media screen  and (max-device-width : 800px) {
    .slide__subtitle {
        font-size: 26px;
        line-height: 31px;
    }

}