.logo__title{
    margin: 0;
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 19px;
    line-height: 26px;
    color: #FFFFFF;
    width: 220px;
    display: inline-block;
    text-align: start;
}

@media screen and (min-device-width : 1px) and (max-device-width : 1000px) {
    .logo__title{
        width: 170px;
    }
}

@media screen and (min-device-width : 1px) and (max-device-width : 750px) {
    .logo__title{
        font-size: 15px;
        line-height: 20px;
    }
}