
button.button-application-on {


}

button.button-application-on:hover {
    transform: scale(1.1);
    background: rgba(24, 10, 10, 0.5);
    color: #FFA827;
}





button.button-shopping-cart {
    display: block;
    width: 43px;
    height: 42px;
    border-style: none;
    position: center;
    background: url("../../img/cart-shipping.png") rgba(24, 10, 10, 0);
    cursor: pointer;
    transition: 0.5s;
}

span.value-items-in-cart{
    background-image: url("../../img/value-items-in-cart.png");
}

