.callback-button {
    width: 170px;
    height: 36px;
    background: #4595f3;
    box-shadow: 0 1.6px 1.6px rgba(0, 0, 0, 0.25), inset 0 1.6px 5.85px rgba(0, 0, 0, 0.4);
    border-radius: 22.3px;
    font-family: OpenSans-Bold, serif;
    font-size: 14px;
    color: white;
    border-style: none;
    transition: 0.5s;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.callback-button_mobile{
    display: none;
    width: 44px;
    height: 44px;
    justify-self: right;
    animation: ease-in-out pulsing 4s infinite;
}
button.callback-button:hover {
    transform: scale(1.1);
    background: rgba(24, 10, 10, 0.5);
    color: #FFA827;
}

@media screen and  (max-device-width : 900px) {
    .callback-button_desktop{
        display: none;
    }
    .callback-button_mobile{
        display: inline-block;
    }
}


@keyframes pulsing {
    0% {
        transform: scale(1.1);
    }
    25% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    75% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}