@import url(./__button/slide__button.css);
@import url(./__description/slide__description.css);
@import url(./__image/slide__image.css);
@import url(./__subtitle/slide__subtitle.css);
@import url(./__title/slide__title.css);
@import url(./__text/slide__text.css);
@import url(./__description/_li/slide__description_li.css);
@import url(./slide_disabled.css);

.slide{

    width: 100%;
    padding-left: 10px;
    display:flex;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    padding-right: 10px;
    z-index: 1;
    transform: rotate(0);
}

@media screen  and (max-device-width : 800px) {
    .slide{
        display: inline-block;
        height: 90%;
        min-height: 400px;
        padding-left: 0;
        padding-right: 0;

    }
}
