@import url(./blocks/App/App.css);
@import url(./blocks/header/header.css);
@import url(./blocks/callback-button/callback-button.css);

@import url(./blocks/logo/logo.css);
@import url(./blocks/logo/__description/logo__description.css);
@import url(./blocks/logo/__img/logo__img.css);
@import url(./blocks/logo/__title/logo__title.css);
@import url(./blocks/logo/__subtitle/logo__subtitle.css);
@import url(./blocks/logo/_place/_footer/logo_place_footer.css);
@import url(./blocks/logo/_place/_header/logo_place_header.css);



@import url(./blocks/menu-block/menu-block.css);
@import url(./blocks/find-form/find-form.css);
@import url(./blocks/page/page.css);
@import url(./blocks/slider/slider.css);
@import url(./blocks/slide/slide.css);
@import url(./blocks/top-menu/top-menu.css);
@import url(./blocks/drawing/drawing.css);
@import url(./blocks/buttons/buttons.css);
@import url(./blocks/tabs/tabs.css);
@import url(./blocks/site-section/site-section.css);
@import url(./blocks/feedback-form/feedback-form.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/catalog-menu/catalog-menu.css);
@import url(./blocks/catalog-system-poliv/catalog-system-poliv.css);
@import url(./blocks/header-catalog/header-catalog.css);
@import url(./blocks/filter-block/filter-block.css);
@import url(./blocks/market-catalog/market-catalog.css);
@import url(./blocks/market-card/market-card.css);
@import url(./blocks/product-card/product-card.css);
@import url(./blocks/burger-menu/burger-menu.css);
@import url(./blocks/sale-slide/sale-slide.css);
@import url(blocks/article-slider/article-slider.css);
@import url(blocks/sign-in/auth.css);
@import url(blocks/advantages/advantages.css);
@import url(blocks/main-service-section/main-service-section.css);
@import url(blocks/sale-section/sale-section.css);
@import url(blocks/service-description/service-description.css);
@import url(blocks/sub-service-section/sub-service-section.css);
@import url(blocks/popup/popup.css);
@import url(blocks/articles/articles.css);


@font-face {
  font-family: "OpenSans-Bold" ;
  src: url("./fonts/OpenSans/OpenSans-Bold.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans-Regular" ;
  src: url("./fonts/OpenSans/OpenSans-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans-ExtraBold" ;
  src: url("./fonts/OpenSans/OpenSans-ExtraBold.ttf");
  font-style: normal;
  font-weight: normal;
}

h2 {
  font-size: 54px;
  font-family: OpenSans-ExtraBold, serif;
  color: #ffffff;
  line-height: 56px;
}

h3 {
  font-size: 46px;
  font-family: OpenSans-Bold, serif;
  color: #ffffff;
}

span.adv-slide-description {
  text-indent: 5px;
  font-size: 20px;
  font-family: OpenSans-Regular, serif;
  color: #ffffff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  text-align: center;
  overflow: hidden;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (min-device-width : 1px) and (max-device-width : 800px) {
  .App {
    padding-bottom: 20px;
  }
}

@media screen and (min-device-width : 1300px) and (max-device-width : 1550px) {
  .App{
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (min-device-width : 1551px) and (max-device-width : 1750px) {
  .App{
    padding-left: 200px;
    padding-right: 200px;
  }
}

@media screen and (min-device-width : 1751px) and (max-device-width : 2100px) {
  .App{
    padding-left: 360px;
    padding-right: 360px;
  }
}


